/UmbracoDev/App_Browsers
/UmbracoDev/App_Data
/UmbracoDev/bin
/UmbracoDev/config/splashes
/UmbracoDev/media
/UmbracoDev/obj/Debug
/UmbracoDev/umbraco_client
/UmbracoDev/Views
/UmbracoDev/WatermarkedImages
/UmbracoDev/default.aspx
/UmbracoDev/Global.asax
/UmbracoDev/packages.config
/UmbracoDev/ugstor_1353484w_watermark.jpg
/UmbracoDev/UmbracoDev.csproj
/UmbracoDev/UmbracoDev.csproj.user
/UmbracoDev/Web.config
/UmbracoDev/Web.Debug.config
/UmbracoDev/Web.Release.config
/UmbracoDev.v11.suo
/UmbracoDev.v12.suo
/UmbracoDev/App_Browsers
/packages
