
<div ng-controller="WatermarkerController">

    <p ng-click="watermarkPicker()">välj</p>


    <input type="range" min="{{sliderOpacity.min}}" max="{{sliderOpacity.max}}" step="{{sliderOpacity.step}}" value="{{sliderOpacity.value}}" ng-model="sliderOpacity.value">
    <input type="range" min="{{sliderSize.min}}" max="{{sliderSize.max}}" step="{{sliderSize.step}}" value="{{sliderSize.value}}" class="{{sliderSize.cssClass}}" ng-model="sliderSize.value" orient=vertical>
    <p>x={{sliderOpacity.value}};y={{sliderSize.value}} </p>
    <div class="image-watermark">
        <img ng-model="watermarkerImage" ng-src="{{img}}" ng-style="{opacity:sliderOpacity.value, width:sliderSize.value}; " />

        </div>
        <!--<img style="opacity:{{sliderOpacity.value}};" src="/media/1002/watermark.png">-->
    </div>

    <style>
        input.vert {
            -webkit-appearance: slider-vertical;
            writing-mode: bt-lr;
        }

        div.image-watermark {
            min-height: 300px;     
        }
    </style>

